{% extends "fishes/fish_admin.html" %}

{% block rightside-page-content %}
        <!-- Page wrapper  -->
        <div class="page-wrapper" id="rightside-page-wrapper">
            <!-- Bread crumb(右侧最上面的标题栏) -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">产品信息详细</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">产品信息查看</li>
                        <li class="breadcrumb-item active">产品信息详细</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-primary">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="card-title m-t-15"><strong>产品基本信息</strong></h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="product_batch"><strong>产品批次号 : </strong></label>
                                                    <span id="product_batch">{{ product_info_data.product_batch }}</span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group has-danger">
                                                    <label class="control-label" for="product_date"><strong>产品生成时间 : </strong></label>
                                                    <span id="product_date">{{ product_info_data.product_date }}</span>
                                                </div>
                                            </div><!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label><strong>包装图片</strong></label>
                                                <div class="file-loading">
                                                    <input id="pack_environment" name="pack_environment" type="file">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <h4 class="box-title m-t-40"><strong>石斑鱼基本信息</strong></h4>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>石斑鱼批次:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.fish_batch }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>入料时间:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.stock_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>石斑鱼数量:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.number }}</span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>石斑鱼总重量:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.total_mass }}</span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>石斑鱼品种名:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.name }}</span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fish_batch"><strong>石斑鱼规格:</strong></label>
                                                    <span id="fish_batch">{{ fish_info_data.specification }}</span>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>入料检测报告</strong></label>
                                                    <div class="file-loading">
                                                        <input id="test_report_stock" name="test_report_stock" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>第三方检测报告</strong></label>
                                                    <div class="file-loading">
                                                        <input id="test_report_third" name="test_report_third" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>入料图片</strong></label>
                                                    <div class="file-loading">
                                                        <input id="stock_scene" name="stock_scene"
                                                               type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="box-title m-t-40"><strong>石斑鱼转移记录</strong></h4>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-title">
                                                            <h4>转移记录表 </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>转移时间</th>
                                                                        <th>来源池</th>
                                                                        <th>目的池</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for trans_info in trans_infos %}
                                                                        <tr>
                                                                            <th scope="row">{{ forloop.counter }}</th>
                                                                            <td>{{ trans_info.tans_date }}</td>
                                                                            <td> {{ trans_info.source_pool }} 号鱼池</td>
                                                                            <td> {{ trans_info.target_pool }} 号鱼池</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="box-title m-t-40"><strong>石斑鱼加工信息</strong></h4>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="process_date"><strong>加工日期:</strong></label>
                                                    <span id="process_date">{{ process_info_data.process_date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>加工图片</strong></label>
                                                    <div class="file-loading">
                                                        <input id="process_environment" name="process_environment"
                                                               type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>领料图片</strong></label>
                                                    <div class="file-loading">
                                                        <input id="get_scene" name="get_scene" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><strong>加工检测报告</strong></label>
                                                    <div class="file-loading">
                                                        <input id="test_report_process" name="test_report_process" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-actions" style="margin-left: 30%">
                                        <button type="submit" class="btn btn-success">提交并生成二维码</button>
                                        <button type="button" class="btn btn-inverse">取消</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved.Designed by <a href="https://www.xmu.edu.cn/">XUM</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
{% endblock %}


{% block custom-scripts-for-each-page %}
    <script>
    $(function () {
        function initFileinput(ctrname, uploadurl, previewurl, pid, attr_name) {
            $("#" + ctrname).fileinput({
                language: 'zh', //设置语言
                theme: 'fa',
                showUpload: true,
                dropZoneEnabled: false,
                browseClass: "btn btn-primary", //按钮样式
                allowedFileExtensions: ['jpg', 'png'],  //接收的文件后缀
                uploadUrl: uploadurl, //上传的地址
                enctype:'multipart/form-data',
                previewFileType: "image",
                browseClass: "btn btn-success",
                //browseLabel: "Pick Image",
                browseIcon: "<i class=\"fa fa-picture-o\"></i> ",
                removeClass: "btn btn-danger",
                //removeLabel: "Delete",
                removeIcon: "<i class=\"fa fa-trash\"></i> ",
                uploadClass: "btn btn-info",
                //uploadLabel: "Upload",
                uploadIcon: "<i class=\"fa fa-upload\"></i> ",
                minFileCount: 1,
                minFileSize: 1,
                layoutTemplates: {
                    // actionDelete:'', //去除上传预览的缩略图中的删除图标
                    //actionUpload: '',//去除上传预览缩略图中的上传图片；
                    //actionZoom: ''   //去除上传预览缩略图中的查看详情预览的缩略图标
                },
                uploadExtraData: {  //为上传的图片添加额外信息
                    pid: pid,
                    attr_name: attr_name,
                },
                deleteExtraData:{  //为删除添加额外信息
                    pid: pid,
                    attr_name: attr_name,
                },
                overwriteInitial: true,
                initialPreviewAsData: true,
                initialPreview: [
                    previewurl, //用来请求预览图片的URL
                ],
                initialPreviewConfig: [
                    // url ： 用来删除的URL，去除的话删除按钮无效
                    {caption: "nature-1.jpg", size: 329892, width: "120px", url: "?delete", key: 1},
                ]
            });

            // 上传错误
            $('#' + ctrname).on('fileerror', function(event, data, msg) {
                console.log("ERROR");
            });

            // 上传成功
            $("#" + ctrname).on("fileuploaded", function (event, data, previewId, index) {
                console.log("OK");
            });
        }
        var pid = {{ product_info_data.product_id }};
        var uploadurl = "{% url 'fishes:imageupload' %}";

        var attr_name = $("#pack_environment").attr("name");
        var previewurl ;
        {% if process_info_data.pack_environment %}
            previewurl = "{{ process_info_data.pack_environment.url }}"
        {% endif %}
        initFileinput("pack_environment", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#test_report_stock").attr("name");
        {% if fish_info_data.test_report_stock %}
            previewurl = "{{ fish_info_data.test_report_stock.url }}"
        {% endif %}
        initFileinput("test_report_stock", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#test_report_third").attr("name");
        {% if fish_info_data.test_report_third %}
            previewurl = "{{ fish_info_data.test_report_third.url }}"
        {% endif %}
        initFileinput("test_report_third", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#stock_scene").attr("name");
        {% if fish_info_data.stock_scene %}
            previewurl = "{{ fish_info_data.stock_scene.url }}"
        {% endif %}
        initFileinput("stock_scene", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#process_environment").attr("name");
        {% if process_info_data.process_environment %}
            previewurl = "{{ process_info_data.process_environment.url }}"
        {% endif %}
        initFileinput("process_environment", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#get_scene").attr("name");
        {% if process_info_data.get_scene %}
            previewurl = "{{ process_info_data.get_scene.url }}"
        {% endif %}
        initFileinput("get_scene", uploadurl,previewurl, pid, attr_name)

        var attr_name = $("#test_report_process").attr("name");
        {% if process_info_data.test_report_process %}
            previewurl = "{{ process_info_data.test_report_process.url }}"
        {% endif %}
        initFileinput("test_report_process", uploadurl,previewurl, pid, attr_name)

    });
    </script>
{% endblock %}



