{% extends "fishes/fish_admin.html" %}

{% block rightside-page-content %}
        <!-- Page wrapper  -->
        <div class="page-wrapper" id="rightside-page-wrapper">
            <!-- Bread crumb(右侧最上面的标题栏) -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">查看用户信息</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">查看用户信息</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">用户信息</h1>
                                <div class="table-responsive m-t-40">
                                    <div id="toolbar">
                                        <a data-pjax class="btn btn-primary" href="{% url 'fishes:adduser' %}" role="button">添加</a>
                                        <button id="delete-user" class="btn btn-danger" type="button" style="cursor:default;" disabled>删除</button>
                                    </div>
                                    <table id="userinfo-table"
                                           data-toolbar="#toolbar"
                                           data-search="true"
                                           data-minimum-count-columns="2"
                                           data-pagination="true"
                                           data-id-field="username"
                                           data-click-to-select="true"
                                           data-page-list="[10, 25, 50, 100]"
                                           data-side-pagination="server">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved.Designed by <a href="https://www.xmu.edu.cn/">XUM</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
{% endblock %}

{% block custom-scripts-for-each-page %}
    <script>
        var operateFormatter = function (value, row, index) {//赋予的参数
            //注意：这里的 row.id 是用户的ID
            return '<a class="btn btn-info" href='+'/fishes/admin/userdetail/'+ parseInt(row.id) +' role="button">详细</a>'
           // return "<button class='btn btn-info btn-sm' type='button'><a href="+"/fishes/admin/userdetail/"+parseInt(row.id)+" class='fa fa-paste'>详情</a></button>"
        };

        const $table = $('#userinfo-table');
        const $remove = $('#delete-user');
        let selections = [];

        function initTable() {
            $table.bootstrapTable({
                height: getHeight(),
                url: "{% url 'fishes:userinfo' %}",
                columns: [{
                            field: 'state',
                            checkbox: true,
                            align: 'center',
                        }, {
                            title: '用户名',
                            field: 'username',
                            align: 'center',
                            sortable: true
                        }, {
                            field: 'employeeID',
                            title: '员工号',
                            sortable: true,
                            editable: true,
                            align: 'center'
                        }, {
                            field: 'is_staff',
                            title: '是否为普通员工',
                            align: 'center',
                        }, {
                            field: 'is_superuser',
                            title: '是否为管理员',
                            align: 'center',
                        }, {
                            field: 'operate',
                            title: '操作',
                            align: 'center',
                            formatter: operateFormatter
                        }]
            });
            // sometimes footer render error.
            setTimeout(() => {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', () => {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                // save your data, here just save the current page
                selections = getIdSelections();
                // push or splice the selections if you want to save all data selections
            });
            $remove.click(() => {
                // 删除用户
                const users = getIdSelections();
                var confirm = window.confirm('是否要删除 '+ users);
                if (confirm) {
                    $(".preloader-submit-data").show();
                       $.ajax({
                           url: "{% url 'fishes:deleteuser' %}",
                           type: "POST",
                           data: {'employeeIDs':users},
                           traditional: true,
                           dataType: "JSON",
                           success: function (data) {
                               $(".preloader-submit-data").hide();
                               if (data.status) {
                                   alert(data.message);
                                   location.reload();
                               } else {
                                   alert(data.message);
                                   location.reload();
                               }
                           }
                       });
{#                    $table.bootstrapTable('remove', {#}
{#                        field: 'username',#}
{#                        values: users#}
{#                    });#}
{#                    $remove.prop('disabled', true);#}
                } else {
                    //$remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                }
            });
            $(window).resize(() => {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        }
        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), ({employeeID}) => employeeID);
        }
        function getHeight() {
            return $(window).height() - $('h1').outerHeight(true);
        }

        $(() => {
            initTable();
        });
    </script>
{% endblock %}
